* {
  font-family: 'Inter', sans-serif;
}


.logindropdown {
  display: flex;
  justify-content: flex-end;
}

#genre_cards, #book_display {
  display: flex;
  flex-wrap: wrap;
}

#genre_cards {
  justify-content: center;
}
#genre_card {
  width: calc(24% - 20px);
  padding: 0 40px;
  border: none;
  text-decoration: underline;
  background: #EAE7DC;
  
}

#root {
  background-color: #EAE7DC;
  margin: #EAE7DC;  
  color: #81807d;
}

#genre_image {
  object-fit: cover;
  object-position: 50% 50%;
  height: 100px;
  filter: brightness(0.5);
}


#books_card {
  width: calc(33.33%);
  border: none;
  flex-grow: 0;
  background: #EAE7DC
}

#book_image_column {
  padding-top: 20px;
  width:30%;
  padding: 20px 0;
  color:#EAE7DC
}

#book_info_column {
  width: 70%;
  color: #EAE7DC;
  padding: 0 0 0 40px;
}

#book_image {
  width: 50%;
  margin-top: 25px;
  border: groove
}

#book_banner {
  background-size: cover;
  background-position: center top;
  font-weight: 900;
}

#book_text {
  font-style: italic;
  font-size: 14px;
  text-align: justify;
  margin-top: 18px;
}

#book_title {
  font-weight: 700;
  font-size: 32px;
}

#book_show_genre {
  border: solid 1px;
  width: fit-content;
  padding: 5px 14px;
  border-radius: 18px;
  background-color: #d8c3a5c4;
}

#breadcrumb_book {
  padding:20px 0 0 40px ;
}

#popover-positioned-bottom {
  width: 200px;
  padding: 0;
}

#genre_popover {
  text-align: center;
}

#profile_image {
  width: 170px;
  border-radius: 50%;
}
.liked.btn.btn-outline-light {
  background-color: rgba(230, 230, 210, 0.603);
}

#reviews_column {
  width: 80%;
}

.review_button {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
  padding: 15px 0 30px;

}

#author_image {
  width: 70%;
  border-radius: 50%;
}

#book_display {
  padding: 30px 170px;
  justify-content: space-between;
}

#book_image_add {
  width: 20%
}

#loading_state {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home_book_image_1 {
  width: 55%;
  // background-image: linear-gradient(0,0,0,0,5), rgba(0,0, 0,5);
  filter: brightness(85%);
}

.carousel-item.active {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev, .active.carousel-item-start {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

#homepage_text {
  // color: white;
  font-size: 33px;
  font-weight: 300;
  text-align: center;
}

#homepage_caption {
  text-align: center;
  padding: 0 20px
}

#search_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 49px;
}


#browse_books_content {
  display: flex;
}


#browse_filter_column {
  padding: 30px 0 0 30px;
}

#browse_book_image {
  width: 85%;
}

a {
  color:inherit !important;
  text-decoration: none !important;
}

#book_no_review_text {
  text-align: start;
  padding: 40px 0 55px 50px;
}

.accordion-item:first-of-type .accordion-button, .accordion-button:not(.collapsed), .accordion-button {
  background-color: #D8C3A5 !important;
  color: #8E8D8A !important;
}

.accordion-item {
  background-color: #EAE7DC !important;
  color: #8E8D8A !important;
}

#book_delete_button, #settings_delete_button {
  border-radius: 25px;
  padding: 10px 100px;
  margin: 20px;
  background-color: #8E8D8A;
  color: #EAE7DC;
  border-width: 0;
}

#add_review_form {
  padding: 30px;
}
#add_author_form {
  padding: 40px 130px;
}
#navbar_full {
  background-color: #d8c3a594;
  color: #E98074;
  padding: 0;
  font-weight: bold;
}

#footer_full {
  background-color: #d8c3a594;
  color: #E98074;
  padding: 0;
  font-weight: bold;
}

.dropdown-menu.show {
  background-color: #d8c3a5fa;
}

#book_display2 {
  padding: 30px 170px;
  justify-content: space-evenly;
}

#book_display3 {
  padding: 30px 100px;
  justify-content: flex-start;
}

#delete_account_button {
  display: flex;
  justify-content: center;
  margin: 20px 0 0px 0;
}

#book_register_button {
  border-color: #E98074;
  color: #E98074;
  margin: 0 30px;
}

#book_register_button:hover {
  background-color: #E98074;
  color: #EAE7DC;
}

